img {
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
}

html, body {
    background: url(fondoo.png);
    text-align: center;
    color: beige;
    background-size: cover;
}

ul {
    list-style-type: none;
}

.destacado {
    background-color: rgb(255, 177, 249);
    border-radius: 200px 200px 200px 200px;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    background-color: rgb(255, 177, 249);
    border-radius: 200px 200px 200px 200px;
}

.footer {
    background-color: rgb(194, 102, 255);
    padding: 5%;
    text-align: center;
    position: absolute;
    width: 100%;
}